name: "RUN"
on:
  workflow_dispatch:
  schedule:
  - cron: "0 12 * * SUN"
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3.1.4  
      - name: Install wally
        run: 'python script\\wally_installer.py'
      - name: Rojo Build
        uses: CompeyDev/rojo-build-action@0.1.5
        with:
         # File to write to (excluding file type)
         output: bulid
         # The type of file to be outputted
         type: rbxl
