name: "RUN"
on:
  workflow_dispatch:
  schedule:
  - cron: "0 12 * * SUN"
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: duhow/download-github-release-assets@v1.1.1
        with:
         repo: rojo-rbx/rojo
         # The release ID version to fetch from.
         version: v7.3.0
         file: rojo-7.3.0-linux-x86_64.zip
      - name: "Unzip and test" 
        run: |
          unzip rojo-7.3.0-linux-x86_64.zip -d ./
          cd ./rojo/
          rojo.exe